In [1]:
import numpy as np
import pandas as pd

## Analyzing Demographic Data

### Questions to be answered are:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)
- What is the average age of men?
- What is the percentage of people who have a Bachelor's degree?
- What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
- What percentage of people without advanced education make more than 50K?
- What is the minimum number of hours a person works per week?
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
- What country has the highest percentage of people that earn >50K and what is that percentage?
- Identify the most popular occupation for those who earn >50K in India.

In [2]:
df = pd.read_csv("adult.data.csv")

In [14]:
df.sample(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
9037,22,Private,161532,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,35,United-States,<=50K
6506,25,Private,315643,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,30,United-States,<=50K
1099,43,Private,182254,Some-college,10,Divorced,Prof-specialty,Unmarried,White,Female,0,0,40,United-States,<=50K
3916,27,?,130856,Bachelors,13,Never-married,?,Not-in-family,White,Male,0,0,40,United-States,<=50K
7353,42,Private,383493,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K

In [4]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [8]:
df.groupby(['race'])['sex'].count()

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: sex, dtype: int64

### What is the average age of men?

In [9]:
men = df[df.sex == 'Male']['age'].mean()
men

39.43354749885268

### What is the percentage of people who have a bachelor's degree?

In [10]:
bachelor_percentage = df[df.education == 'Bachelors']['education'].count() / df['education'].count()
bachelor_percentage

0.16446055096587942

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?